install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw  --iscrypted $6$AcDUiCtc$ZfE9iCSvnezqs3/t47dcPRxozcWACkdITx38T.oTMESLzVv8yjSm1pVE4JC5FmdGojpg8StRhfi.peduTEtzn1
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/New_York
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --nobase --ignoremissing 
@core
bzip2
kernel-devel
kernel-headers
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
%end

%post
# Install SUDO
/usr/bin/yum -y install sudo

# Create vagrant user
/usr/sbin/useradd vagrant
/bin/mkdir /home/vagrant/.ssh
/bin/chmod 700 /home/vagrant/.ssh
cat >           /home/vagrant/.ssh/authorized_keys <<'VAGRANT_RSA'
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC67BAK8lKHpqgM3XKQ/V0sJU+NTPS6W5fZq0zUh0+riQubgmoZO46kJ2gZQy4F9IAUq0HI/GgM7fqndr7wwXxg1iGNarfVq946IXXNPXGBO2y+YWpKTCOFUdciuUnEoiIPCUgiWnq9fNWLuCo68OnIToveoNMFfP4VjCXn5BtEdbWiFtCbC1mC6Wdwai3VZ4L4RE4tE9APaHWcjM4ExgsJNq96EZd6WSLKp+nLoLmILtTKtSuY9xkPz4woVTvzA3nh2EX0U/ljPfZ+LGah1A51Q/nbj+H+DDNax1a4cqGCrLzgb+glejGdIXC8YxxkfikZXwwomSU90VERNTG5qr3B vagrant
VAGRANT_RSA

/bin/chmod 600 /home/vagrant/.ssh/authorized_keys
/bin/chown -R vagrant /home/vagrant/.ssh

# Add vagrant user to SUDO
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty"                 >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
%end
